

@media screen and (min-width: 768px) and (max-width: 959px) {
#aqui {
    padding: 20px 0px 0px 350px;
}
	
#sueno {
    padding: 10px 0px 80px 150px;
}	
	
#fija {
    padding: 270px 0 80px 116px;
}	
	
#viajo {
    width: 70%;
    padding: 0px 0px 60px 139px;
}	
	
#interior {
    width: 57%;
    padding: 80px 95px 0px 0px;
}	
	
#imagenes {
    font-size: 2.2em;
    padding: 60px 10px 10px;
}	
	
#tangible {
    font-size: 2.6em;
}	
	
#slide2 {
    height: 782px;
}	
	
.filter li {
    font-size: 14px;
}	
	
.project1 {
    width: 236px;
    height: 158px;
}	
	
#secret {
    padding-top: 130px;
    font-size: 8.5em !important;
    line-height: 59px;
}

#phrase2 {
    font-size: 4.6em;
}

.CV li {
    background: url("../images/slide5_CV.png") no-repeat scroll 627px center transparent;
}

.change{
	width:97% !important;
}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
#aqui {
    padding: 20px 0px 0px 40px;
    font-size: 1.5em;
}	
	
#idea {
    padding: 0px 0px 30px 10px;
    font-size: 1.8em;
}	
	
#sueno {
    padding: 0px 0px 50px 4px;
    font-size: 1.6em;
}	
	
#fija {
    padding: 386px 52px 14px 101px;
    font-size: 1.6em;
    text-align: center;
}	
	
#imagination {
    font-size: 1.4em;
    padding-top: 0px;
    text-align: left;
    width: 30%;
}	
	
#llevar {
    font-size: 1.5em;
    padding: 0px 0px 80px 220px;
}	
	
#viajo {	
    font-size: 1.6em;
    padding: 0px 0px 19px 200px;
	text-align: center;
	width:40%;
}	
	
#ligne-points {
    padding: 0 0 0 190px;
}	
	
#avion {
    padding: 0px 0 0 200px;
}	
	
#interior {
    font-size: 1.5em;
	padding: 36px 0px 0px 200px;
	width: 24%;
}	
	
#imagenes {
    font-size: 1.6em;
    padding: 42px 0px 0px 190px;
}	
	
#tangible {
    font-size:1.8em;
	padding-bottom:0px;
}	
	
#slide2 {
    height: 2880px;
}	
	
.project1 {
    width:100%;
}	
	
.filter li {
    width: 90%;
	padding-bottom: 10px;
}	
	
#instrumento {
    font-size:2em;
    padding-right:42px;
}	
	
#slide4-3 {
    right: 78px;
}	
	
#experiencias {
    font-size:3.2em;
    padding:120px 75px 100px 0;
}	
	
#esencia {
    font-size:2.5em;
}		
	
#slide4-1 {
    right:20px;
}

#slide4-2 {
    right: 52px;
}
	
#tronco2 {
    width: 137px;
    background: url("../images/tronco2.png") no-repeat scroll center left transparent;
}
	
#tronco3 {
    width: 300px;
    height: 1770px;
    background: url("../images/tronco-house-iphone.png") no-repeat right bottom;
}	
	
.CV li {
    background: url("../images/slide5_CV.png") no-repeat scroll 171px center transparent;
}	
	
#titre-aboutme {
    padding:0 0 20px;
	font-size: 1.2em;
}	

#slide4 {
    height: 946px;
}

#titre2 {
    padding-bottom: 20px;
}	
		
#phrase2 {
    padding-top:1100px;
    font-size:2.5em;
    width:55%;
	padding-left:0;
}

#slide6-1 {
    right: 61px;
    top: 1410px;
}

#slide6-2 {
    right: 356px;
}

#slide6-3 {
    right: 356px;
}

#slide6-4 {
    right: 356px;
}

#slide6-5 {
    right: 838px;
}

#secret {
    padding-top:70px;
    color: white !important;
    font-size: 6em !important;
    line-height: 41px;
}

.textecredits{line-height: 25px;}	

.titre-credits {
    font-size: 2.5em;
    padding-top: 30px;
}

#logoisabellabeau{margin:0 !important;}

#logotexte{padding-top:0;}

.row{margin-bottom:0;}

}

/* Smartphones (landscape) */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) */
@media only screen
and (max-width : 320px) {

}